/*
    Global styles
*/
* {
    margin: 0;
    font-family: Impact, Charcoal, sans-serif;
    transition: 200px;
}

body {
    background-color: #a89a9b;
    opacity: 1;
    background-image:  linear-gradient(30deg, #775f62 12%, transparent 12.5%, transparent 87%, #775f62 87.5%, #775f62), linear-gradient(150deg, #775f62 12%, transparent 12.5%, transparent 87%, #775f62 87.5%, #775f62), linear-gradient(30deg, #775f62 12%, transparent 12.5%, transparent 87%, #775f62 87.5%, #775f62), linear-gradient(150deg, #775f62 12%, transparent 12.5%, transparent 87%, #775f62 87.5%, #775f62), linear-gradient(60deg, #775f6277 25%, transparent 25.5%, transparent 75%, #775f6277 75%, #775f6277), linear-gradient(60deg, #775f6277 25%, transparent 25.5%, transparent 75%, #775f6277 75%, #775f6277);
    background-size: 70px 123px;
    background-position: 0 0, 0 0, 35px 61px, 35px 61px, 0 0, 35px 61px;
}
/*
    end of global styles
*/

/*
    footer/header styles
*/
.headerContainer, .footerContainer {
    background-color: white;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border: solid black 2px;
    margin-bottom: 40px;
}
.footerContainer {
    margin: 0;
}

.headerLeft > img, .footerLeft > img {
    width: 400px;
}

.headerRight {
    display: flex;
    gap: 80px;
}
.headerRight > div > a, .footerMiddle > div > a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.footerMiddle {
    display: flex;
    gap: 40px;
}
.footerRight > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerRight > div > img {
    width: 50px;
    height: 50px;
}
/*
end of footer/header styles
*/

/*
    body styles
*/
.container {
    background-color: rgb(255, 255, 255);
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
    border: solid black 2px;
}

.container > div > img {
    max-width: 500px;
    min-width: 200px;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    gap: 20px;
    justify-content: center;
}

/*showcase content styles*/
.showcaseContent {
    margin-top: 200px;
    margin-bottom: 200px;
}

.bigContainer > div > .container {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.container > img {
    width: 600px;
    height: 300px;
}
.bigContainer > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#block {
    align-items: center;
}
#block > img {
    margin-bottom: 30px;
}
#block > p {
    text-align: center;
}
p {
    color: rgb(71, 71, 71);
}
/*
    end of body styles
*/

/* 
    hover/active styles 
*/
#link {
    transition: 400ms;
}
#link:hover {
    transition: 400ms;
    font-size: 35px;
}
#link:active {
    opacity: 0.5;
    transition: 0ms;
}

.contactBtn {
    transition: 400ms;
    padding: 5px;
    background-color: white;
}
.contactBtn:hover {
    padding: 10px;
    transition: 400ms;
}
.contactBtn:active {
    opacity: 0.8;
    transition: 0ms;
    background-color: black;
    color: white;
}
/* 
    end of hover/active styles 
*/